.connect-wallet-modal {
  > .inside {
    width: 360px;
    background: #242731;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.08), 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 9px 28px 8px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
    .header {
      border-color: #34384c;
      h4 {
        /* padding-left: 16px; */
        text-align: left;
        color: rgba(255, 255, 255, 0.85);
      }
    }

    .content {
      padding: 24px;
    }

    .connect-item {
      padding: 12px;
      &:hover {
        filter: opacity(0.7);
      }
      border: 1px solid rgba(88, 88, 88, 0.7);
      border-radius: 12px;
      transition: all linear 0.2s;
      img {
        width: 24px;
      }
      span {
        display: flex;
        align-items: center;
        font-weight: 700;
        font-size: 18px;
        color: #fff;
      }
    }
  }
}
