:root {}



@font-face {
  font-family: "Poppins-ExtraBold";
  src: url("../fonts/Poppins-ExtraBold.woff2") format('woff2');
}

@font-face {
  font-family: "Poppins-Regular";
  src: url("../fonts/Poppins-Regular.woff2") format('woff2');
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins.woff2") format('woff2');
}